NEXT_PUBLIC_MINEGAME_TOKEN_ADDRESS=0xB20000000000000000000033307E6D1bB78b0201
NEXT_PUBLIC_MINEGAME_ECONOMY_ADDRESS=
NEXT_PUBLIC_O1_TOKEN_URL=
NEXT_PUBLIC_BASE_APP_COIN_URL=https://base.app/coin/base-mainnet/0xB20000000000000000000033307E6D1bB78b0201
BASE_RPC_URL=https://mainnet.base.org
MINEGAME_SAFE_ADDRESS=
MINEGAME_TREASURY_SAFE_ADDRESS=
MINEGAME_ROOM_PRICE_WEI=
MINEGAME_REWARD_RATE_WEI_PER_SECOND=
MINEGAME_MAX_REWARD_RATE_WEI_PER_SECOND=
MINEGAME_GRID_CAPACITY_PER_ROOM=
