NEXT_PUBLIC_MINEGAME_TOKEN_ADDRESS=
NEXT_PUBLIC_MINEGAME_ENGINE_ADDRESS=
NEXT_PUBLIC_O1_TOKEN_URL=
NEXT_PUBLIC_BASE_APP_COIN_URL=
BASE_RPC_URL=https://mainnet.base.org
MINEGAME_SAFE_ADDRESS=
MINEGAME_REWARDS_VAULT=
MINEGAME_OVERCLOCK_PRICE_WEI=100000000000000000000
